/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    position: relative;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f6f6f6;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ========================================================================== MELINDA'S STYLES */

@font-face {
    font-family: 'ArvoRegular';
    src: url('webfonts/Arvo/Arvo-Regular-webfont.eot');
    src: url('webfonts/Arvo/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Arvo/Arvo-Regular-webfont.woff') format('woff'),
         url('webfonts/Arvo/Arvo-Regular-webfont.ttf') format('truetype'),
         url('webfonts/Arvo/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoBold';
    src: url('webfonts/Arvo/Arvo-Bold-webfont.eot');
    src: url('webfonts/Arvo/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Arvo/Arvo-Bold-webfont.woff') format('woff'),
         url('webfonts/Arvo/Arvo-Bold-webfont.ttf') format('truetype'),
         url('webfonts/Arvo/Arvo-Bold-webfont.svg#ArvoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ALoveofThunder';
    src: url("webfonts/LoveofThunder/A_Love_of_Thunder.eot?") format("eot"),
         url("webfonts/LoveofThunder/A_Love_of_Thunder.woff") format("woff"),
         url("webfonts/LoveofThunder/A_Love_of_Thunder.ttf") format("truetype"),
         url("webfonts/LoveofThunder/A_Love_of_Thunder.svg#ALoveofThunder") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('webfonts/Lato/Lato-Bol-webfont.eot');
    src: url('webfonts/Lato/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Lato/Lato-Bol-webfont.woff') format('woff'),
         url('webfonts/Lato/Lato-Bol-webfont.ttf') format('truetype'),
         url('webfonts/Lato/Lato-Bol-webfont.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('webfonts/Lato/Lato-Reg-webfont.eot');
    src: url('webfonts/Lato/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Lato/Lato-Reg-webfont.woff') format('woff'),
         url('webfonts/Lato/Lato-Reg-webfont.ttf') format('truetype'),
         url('webfonts/Lato/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  background: #84a516; /* Old browsers */
  background: -moz-linear-gradient(left,  #84a516 0%, #aed430 50%, #84a516 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#84a516), color-stop(50%,#aed430), color-stop(100%,#84a516)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #84a516 0%,#aed430 50%,#84a516 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #84a516 0%,#aed430 50%,#84a516 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #84a516 0%,#aed430 50%,#84a516 100%); /* IE10+ */
  background: linear-gradient(to right,  #84a516 0%,#aed430 50%,#84a516 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84a516', endColorstr='#
                                                     ',GradientType=1 );*/ /* IE6-9 */  
}

ul, 
ol, 
li, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    padding:0;
    margin:0;
    list-style: none;
}


header {
    height: 229px;
    width: 96%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right:2%;
    border-bottom: 3px solid #28a4dd;
}

/* ========================================================================== NAV STYLES */

nav {
    width: 92%;
    margin-left: 6%;
    margin-right: 2%;
    height: 25px;
    float: left;
}

nav li {
    float: left;
    display: inline;
}

nav li a {
    text-decoration: none;
    font-family: ALoveofThunder, Helvetica, Arial;
    font-size: 18px;
    color: #fcec3e;
    letter-spacing: .06em;
    text-transform: uppercase;
    text-shadow: 0em 0em 0.2em #000000;
}

nav li.first {
    padding-left: 242px;
    margin-left: 2%;
}

nav li.last {
    margin:0;
}

nav li.separator {
    background: url("../img/Star_yellow.png");
    width: 17px;
    height: 17px;
    margin-top: 3px;
    margin-right: 1%;
    margin-left: 1%;
}

.logo {
    height: 228px;
    width: 242px;
    background: url("../img/FlipsandFitness-Logo.png") no-repeat #ffffff;
    position: absolute;
    z-index: 4;
    border-top: 1px solid #676767;
    border-right: 1px solid #676767;
    border-left: 1px solid #676767;
    border-bottom: 3px solid #000000;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px#000;
    box-shadow: 0 0 5px #000;
}

/* ========================================================================== AD SLIDER & CONTACT STYLES */

.ad-slider {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height:167px;
    border-top: 4px #171717 solid;
    background: url("../img/Star_pattern.png") repeat-x;
    color: #000000;
    text-transform: uppercase;
}

.slider-haze {
    background: url("../img/Star_AdSliderHaze-Medium.png") no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height:167px;
}

.ad-slider li {
    display: inline;
    float: left;
}

.ad-arvo-small {
    font-family: Arvo, Helvetica, Arial;
    font-size: 1.1em;
    line-height: 1em;
    letter-spacing: .03em;
}

.ad-arvo-big {
    font-family: Arvo, Helvetica, Arial;
    font-size: 30px;
    letter-spacing: .03em;
    line-height: 38px;
}

.ad-thunder-small {
    font-family: ALoveofThunder, Helvetica, Arial;
    font-size: 18px;
    letter-spacing: .03em;
    line-height: 24px;
} 

.ad-thunder-big {
    font-family: ALoveofThunder, Helvetica, Arial;
    font-size: 1.85em;
    letter-spacing: .03em;
    line-height: 1.5em;
}

.contact-bar {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left:0;
    height:25px;
    width: 90%;
    margin-left:8%;
    margin-right: 2%;
}

.contact-bar a {
    font-family: Arvo, Helvetica, arial;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    width: 654px;
    height: 20px;
    background: url("../img/Stripes_Contact.png") repeat-x #28a4dd;
    display: block;
    margin-left: 242px;
    padding:2px 0 0 10px;
    border-top: 3px solid #28a4dd;
    border-right:3px solid #28a4dd;
    border-left:3px solid #28a4dd;
}

/* ========================================================================== PAGE CONTENT STYLES */

.main {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
    background: teal;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px#000;
    box-shadow: 0 0 5px #000;
}

.content-header, .content {
    width: 80%;
    margin-left: 6%;
    margin-right: 6%;
    float: left;
    padding-left: 4%;
    padding-right: 4%;
}

.content-header{
    height: 38px;
    border-bottom:1px solid #666666;
    background: url("../img/Stripes_Nav.png") repeat-x #fcec3e;
    padding-top: 12px;
}

.content-header li, .content-header li a {
    float: left;
    display: inline;
}

.content-header li a {
    font-family: Arvo, Helvetica, Arial;
    font-size: 14px;
    color:#28a4dd;
    text-transform:uppercase;
    text-decoration: underline;
    letter-spacing: .04em;
    text-shadow: 0.04em 0.04em 0.08em #ffffff;
    margin-top: 5px;
    margin-right:30px;
}

.content-header a:hover {
    color: #000000;
    text-decoration: underline;
}

.content-header .page-title {
    font-family: ALoveofThunder, Helvetica, Arial;
    font-size: 20px;
    color: #ff3a93;
    text-shadow: 0.04em 0.04em 0.08em #000000;
    text-transform: uppercase;
    background: url("../img/Star_blue.png") no-repeat;
    background-position: right;
    margin-right:15px;
    padding-right: 30px;
}

a.to-hide {
    float: right;
    font-family: Lato, Helvetica, Arial;
    font-size: 11px;
    text-transform: uppercase;
    color:#5c5e61;
    letter-spacing: .08em;
    text-decoration: none;
    margin-top: 7px;
    padding-left: 16px;
    background: url("../img/Arrow_Hide.png") no-repeat;
}

span.to-show {
    float: right;
    font-family: Lato, Helvetica, Arial;
    font-size: 11px;
    text-transform: uppercase;
    color:#f5f5f5;
    letter-spacing: .08em;
    text-decoration: none;
    margin-top: 2px;
    margin-right:20px;
    padding-left: 16px;
    background: url("../img/Arrow_Show.png") no-repeat;
    border: none;
}

.content {
    background-color: rgba(255, 255, 255, .7);
    max-height: 440px;
    overflow-y: auto;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px#000;
    box-shadow: 0 0 5px #000;
}

.col {
    height: auto;
    float: left;
    margin-top: 30px;
}

.col h4 {
    font-family: Arvo, Helvetica, Arial;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -.02em;
    text-shadow: 0.04em 0.04em 0.08em #ffffff;
    color:#303131;
    margin-bottom: 10px;
}

.col h3{
    font-family: Lato, Helvetica, Arial;
    text-transform: uppercase;
    font-size: 14px;
    color: #303131;
    letter-spacing: .08em;
}

.col p {
    font-family: Arvo, Helvetica, Arial;
    font-size: 13px;
    line-height: 19px;
    color:#303131;
    margin-bottom: 7px;
    letter-spacing: .02em;
    text-shadow: 0.04em 0.04em 0.08em #ffffff;
}

.narrow {
    width: 35%;
    margin-right: 2%;
}

.medium {
    width: 55%;
    padding-left: 3%;
    border-left: 1px solid red;
}

.wide {
    width: 66%;
    margin-left: 17%;
}

.wide h4 {
    text-align: center;
}

/* ========================================================================================================== Video Page Styles*/

.video-list {
    background: #fff;
}

.video-list figure {
    display: inline;
    float: left;
}

.video-list figcaption {
    padding: 0;
    margin: 0;
    font-family: arvo, Helvetica, Arial;
    font-size: 1em;
    background: #b2cd58;
    width: 250px;
    height: 25px;
    text-align: center;
}

/* ========================================================================================================== Slider Test Styles */
.da-slider{
    width: 90%;
    margin-left:8%;
    margin-right: 2%;    
    height: 70px;
    margin-top: 37px;
    position: absolute;
    overflow: hidden;
}
.da-slide {
    position: absolute;
    width: 664px;
    height:100%;
    margin-left: 242px;
    text-align: center;
}
.da-slide-current{
    z-index: 1000;
}
.da-slider-fb .da-slide{
    left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
    left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
    position: absolute;
    opacity: 0;
    left: 110%;
}

.da-slide p, .da-slide h2 {
    padding:0;
    margin:0;
    text-transform: uppercase;
    font-weight: normal;
}

.da-slide p{
    /*color: #fff;
    font-size: 1.5em;
    top: 100px;*/
    white-space: nowrap;
    /*z-index: 10;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-family: Arvo, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;*/
}

/*.da-slide h2{
    top: 155px;
    color: #916c05;
    font-size: 3em;
    line-height: 1em;
    overflow: hidden;
    font-weight: normal;
    font-family: ALoveofThunder, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;

.da-dots{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0px;
    bottom: 20px;
    z-index: 2000;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-dots span{
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e4b42d;
    margin: 3px;
    cursor: pointer;
    box-shadow: 
        1px 1px 1px rgba(0,0,0,0.1) inset, 
        1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
} */

.da-arrows{
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-arrows span{
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #e4b42d;
    cursor: pointer;
    z-index: 2000;
    opacity: 0;
    box-shadow: 
        1px 1px 1px rgba(0,0,0,0.1) inset, 
        1px 1px 1px rgba(255,255,255,0.1);
    -webkit-transition: opacity 0.4s ease-in-out-out 0.2s;
    -moz-transition: opacity 0.4s ease-in-out-out 0.2s;
    -o-transition: opacity 0.4s ease-in-out-out 0.2s;
    -ms-transition: opacity 0.4s ease-in-out-out 0.2s;
    transition: opacity 0.4s ease-in-out-out 0.2s;
}
/*.da-slider:hover .da-arrows span{
    opacity: 1;
}
.da-arrows span:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    background: transparent url(../img/arrows.png) no-repeat top left;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
    background-position: top right;
}
.da-arrows span.da-arrows-prev{
    left: 15px;
}
.da-arrows span.da-arrows-next{
    right: 15px;
}
*/
.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
    left: 15%;
    opacity: 1;
}

/* Animation classes and animations */
/* Slide in from the right*/

.da-slide-fromright p{
    -webkit-animation: fromRightAnim2 0.6s ease-in-out .6s both;
    -moz-animation: fromRightAnim2 0.6s ease-in-out .6s both;
    -o-animation: fromRightAnim2 0.6s ease-in-out .6s both;
    -ms-animation: fromRightAnim2 0.6s ease-in-out .6s both;
    animation: fromRightAnim2 0.6s ease-in-out .6s both;
}

@-webkit-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}


@-moz-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}


@-o-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}


@-ms-keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}


@keyframes fromRightAnim1{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}
@keyframes fromRightAnim2{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 15%; opacity: 1; }
}

/* Slide in from the left*/

.da-slide-fromleft p{
    -webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}

@-webkit-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 0%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}


@-moz-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}


@-o-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}


@-ms-keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}


@keyframes fromLeftAnim1{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 10%; opacity: 1; }
}

/* Slide out to the right */

.da-slide-toright p{
    -webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}

@-webkit-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}


@-moz-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}


@-o-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}


@-ms-keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}


@keyframes toRightAnim1{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
    0%{ left: 10%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}

/* Slide out to the left*/
.da-slide-toleft h2{
    -webkit-animation: toLeftAnim1 0.6s ease-in-out both;
    -moz-animation: toLeftAnim1 0.6s ease-in-out both;
    -o-animation: toLeftAnim1 0.6s ease-in-out both;
    -ms-animation: toLeftAnim1 0.6s ease-in-out both;
    animation: toLeftAnim1 0.6s ease-in-out both;
}
.da-slide-toleft p{
    -webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}

@-webkit-keyframes toLeftAnim1{
    0%{ left: 20%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}


@-moz-keyframes toLeftAnim1{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}


@-o-keyframes toLeftAnim1{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}


@-ms-keyframes toLeftAnim1{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}


@keyframes toLeftAnim1{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
    0%{ left: 15%;  opacity: 1; }
    100%{ left: -50%; opacity: 0; }
}




/* ========================================================================================================== Mid-screen sizes max: 1055px, min-width:1024px;*/

@media (min-width: 1025px) and (max-width: 1055px) {

    nav li a {
        font-size: 1.01em;
    }

    .content-header li a {
        margin-right:25px;
    }

    .contact-bar a {
        width: 595px;
    }

    .da-slide {
        width: 605px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
