<accordion class="down">
    <accordion-group heading="Flippers in Action">
    	<div class="hero-unit" ng-controller="FlippersCtrl">
			shorterclarissa3.mov
		</div>
    </accordion-group>
</accordion>