<div class="accordion-group" ng-class="{open : selected}">
    <div class="accordion-heading container">
        <a class="accordion-toggle" ng-click="toggle()">{{heading}}</a>
    </div>
    <div class="accordion-body collapse" ng-class="{in : selected}">
        <div class="container">
        	<div class="accordion-inner" ng-transclude></div>
        </div>
    </div>
</div>