@import "compass_twitter_bootstrap";
@import url(http://angular-ui.github.com/angular-ui/build/angular-ui.css);
@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css);

@include grid-core();

// Variables
// 

$footerHeight: 170px;

html, body {
	height: 100%;
}

body {
	background: #70B450;
}

.container {
	//height: 100%;
}

.wrapper {
	margin: 0;
	background: url(http://placehold.it/200/DBE6D6);
	min-height: 100%;
    position:relative;
    width: auto;

    .container {
    	//margin-bottom: -1*$footerHeight;
    }
}

footer {
	background: rgba(153, 153, 153, 0.47);
	width: 100%;
	height: $footerHeight;
	position: absolute;
	bottom: 0px;
	border-bottom: 3px solid $blue;

	.container {
		height: 0;
	}
	

	nav {
		@include makeRow();
		position: relative;
		top: -60px;

		.nav-tabs {
			border: 0;
		}

		ul.nav {
			@include makeColumn(9, 3);

			li {
				padding-left: 30px;

				&:first-child {padding-left: 0}

				a {
					color: $yellow;
					text-transform: uppercase;
					font-weight: 600;
					display: inline-block;
				}

				i {
					margin-left: 30px;
				}
			}
		}		
	}
	.home {
		background: url(http://placehold.it/220x220/ff0000&text=Flips+for+Fitness/) no-repeat center center;
		display: block;
		@include makeColumn(3);
		height: 220px;
		z-index: 100;
		position: relative;
		bottom: 105px;
		margin-left: 0;

	}

	.tagline {
		position: relative;
		@include makeColumn(8,3);
		float: none;
		text-align: center;
		top: -30px;

		h1 {

		}

		ul li {
			list-style: none;
			display: inline-block;
		}
	}
}

.hero-unit {
	position: relative;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

accordion {
	position: absolute;
	margin: 0;
	width: 100%;

	&.down {
		top: 0;
		margin-left: -210px;
		position: relative;
		top: -20px;

		.accordion-group {
			border: none;

			.accordion-heading {
				.accordion-toggle {
					background: $yellow;
				}
			}

			.accordion-body {
				.accordion-inner {
					padding: 0;
				}
			}

			.collapse.in {
				height: $footerHeight;
			}
		}
	}

	&.up {
		bottom: 0;
	
		.accordion {margin-bottom: 0;}

		.accordion-group {
			border: none;
			margin-bottom: 0;
			@include makeRow();

			.accordion-heading {
				width: $gridRowWidth;
				.accordion-toggle {
					color: $white;
					@include makeColumn(8, 3);
					border-bottom: none;
					padding: 8px 0 8px 15px;
					background: $blue;
				}
			}

			.accordion-body {
				background: $blueDark;
				border-top: 3px solid $blue;
				@include makeRow();

				.accordion-inner {
					border: none;
					@include makeColumn(8, 3);

				}
			}

			.collapse.in {
				height: $footerHeight;
			}
		}
	}
}